@import "_font-face";

@each $type, $weight in ( Regular, 500 ), ( Medium, 600 ), ( Bold, 800 ), ( Black, 900 ) {
	@font-face {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: #{$weight};
		font-display: swap;
		src: url('~assets/fonts/Montserrat/Montserrat-#{$type}.woff2') format('woff2');
	}
}

@each $type, $weight in ( Medium, 600 ), ( Bold, 800 ) {
	@font-face {
		font-family: 'Bitter';
		font-style: normal;
		font-weight: #{ $weight };
		font-display: swap;
		src: url('~assets/fonts/Bitter/Bitter-#{$type}.woff2') format('woff2');
	}
}

@font-face {
	font-family: 'Dobrozrachniy';
	font-style: normal;
	font-display: swap;
	src: url('~assets/fonts/Dobrozrachniy/Dobrozrachniy-Regular.woff2') format('woff2');
}
