$mobile-breakpoint: 768px;

@mixin icon-size($size: 21px) {
	width: $size;
	height: $size;
}

@mixin component-shadow {
	box-shadow: 0px 0px 1vh rgba(var(--mono-000), .33);
}

@mixin push-button {

	cursor: pointer;

	border: {
		width: 2px;
		style: solid;
		color: var(--color-accent-edges-100);
	}

	padding: .75vh 1vw;
	margin: 0px 2px;
	border-radius: var(--border-radius);
	color: rgb(var(--color-mono-400));
	font-size: .65rem;
	font-weight: 700;
	transition: all 200ms ease-in-out;

	@content;

	&:hover {
		// transform: translateY(-0.5vh);
		// filter: drop-shadow(0 0 6px var(--color-accent-lighting));
		border: {
			color: var(--color-accent-edges-300);
		}
	}

}

@mixin ecc-input {
	-webkit-appearance: none;
	overflow: hidden;
	color: rgb(var(--color-mono-900));
	padding: 1vh 1vw;
	background-color: rgb(var(--color-mono-300));
	border: 1px solid rgb(var(--color-mono-400));
	border-radius: var(--border-radius);
	width: 100%;
	&:focus {
		outline: none;
	}
}

@mixin light-button {
	cursor: pointer;
	padding: 6px 2vw;
	// FONT
	font-size: 12px; font-weight: 600; color: rgb(var(--color-mono-200));
	// BORDER
	border: 1px solid rgba(var(--color-mono-200), .25); border-radius: var(--border-radius);
	// OTHER
	background-color: rgb(var(--color-mono-800));
	box-shadow: 0px 0px 0px 2px rgb(var(--color-mono-800));
	transition-duration: .25s;
	// CONTENT

	@content;

	&:hover {
		text-decoration: none; background-color: rgb(var(--color-mono-300)); color: rgb(var(--color-mono-800));
	}

}

@mixin gradient_border($side: block) {

	$GRAD: transparent 10px, var(--color-accent-edges-100) 50%, transparent calc(100% - 10px);
	$BORDER: 1px solid transparent;

	@if $side == block {
		border-image: linear-gradient(90deg, $GRAD);
		border-block: $BORDER;
	}
	@else if $side == inline {
		border-image-width: 1;
		border-image: linear-gradient(180deg, $GRAD);
		border-inline: $BORDER;
	}
	@else if $side == top or bottom {
		border-image: linear-gradient(90deg, $GRAD);
		border-#{$side}: $BORDER;
	}
	@else if $side == left or right {
		border-image-width: 1;
		border-#{$side}: $BORDER;
		border-image: linear-gradient(180deg, $GRAD);
	}  

	border-image-slice: 1;
	
}

%card-container {

  @include gradient_border;
  @include component-shadow;

  background-color: rgb(var(--color-mono-200));
  border-radius: var(--border-radius);

}

%pattern-lines {

  position: relative;
	z-index: 1;

	&:before {

		content: '';

		position: absolute;
		top: 0; left: 0;

		z-index: -1;

		display: block;
		width: 100%;
		height: 100%;

		background: {
			image: url('~assets/images/Pattern.png?size=200');
			blend-mode: difference;
		};

		opacity: 0.05;

	}

}