$mockup-viewport-vh: 108;
$mockup-viewport-vw: 198;

$accent-hsl-rotate: 30;

:root {

	--border-radius: 1.5vh;
	--mobile-breakpoint: 768px;

	// MONO COLORS
	--mono-1000: 255,255,255;
	--mono-900: 232,232,233;
	--mono-800: 209,209,211;
	--mono-700: 162,162,166;
	--mono-600: 109,109,114;
	--mono-500: 75,75,80;
	--mono-400: 41,41,46;
	--mono-300: 27,27,31;
	--mono-200: 20,20,24;
	--mono-100: 13,13,15;
	--mono-000: 0,0,0;

	// RGB COLOR VARIABLES
	@for $i from 0 through 10 {
		--color-mono-#{$i + '00'}: var(--mono-#{$i + '00'});
	}

	// Accents
	--color-accent-lighting:	hsl(#{ $accent-hsl-rotate }, 100%, 90%);

	--color-accent-edges-300: hsl(#{ $accent-hsl-rotate },  18%, 60%);
	--color-accent-edges-200: hsl(#{ $accent-hsl-rotate },  12%, 40%);
	--color-accent-edges-100: hsl(#{ $accent-hsl-rotate },   6%, 20%);
	--color-accent-edges-000: hsl(#{ $accent-hsl-rotate },   3%, 15%);

	--color-accent-notice: 	hsl(256, 80%, 65%);
	--color-accent-pass: 		hsl(144, 80%, 65%);
	--color-accent-warning: hsl( 36, 80%, 65%);
	--color-accent-error: 	hsl(  0, 80%, 65%);

	// Font sizes
	@each $norm-size in 56,42,36,32,28,24,21,18,16,14,12,11,10 {

		--size-#{ $norm-size }: calc(#{ $norm-size }px * .725);
		--font-size-#{ $norm-size }: var(--size-#{ $norm-size });
		
	}

	// FONT FAMILIES
	--default-font: "Montserrat";
	--read-font: "Bitter";
	--decor-font: "Dobrozrachniy";

	// CLIPBOARD COLOR
	--accent: var(--color-accent-edges-200);

	// CRUSORIS
	--crusoris-color-tail: var(--color-accent-edges-200);
	--crusoris-color-dot: var(--color-accent-lighting);
	--crusoris-color-accent: var(--color-accent-edges-200);

}