@use "sass:math";

$mockup-viewport-vh: (1080 / 100);
$mockup-viewport-vw: (1980 / 100);

:root {

	--test: #{ math.round(1.245 * 100) / 10 };

	// DEFAULT COLOR VARIABLES
	--mono-000: 0,0,0;
	--mono-100: 13,13,15;
	--mono-200: 20,20,24;
	--mono-300: 25,25,30;
	--mono-400: 52,52,60;
	--mono-500: 68,68,76;
	--mono-600: 124,124,139;
	--mono-700: 221,221,255;
	--mono-800: 240,240,255;
	--mono-900: 250,250,255;
	// RGB COLOR VARIABLES
	@for $i from 0 through 9 {
		--color-mono-#{$i + '00'}: var(--mono-#{$i + '00'});
	}
	// ------

	--color-accent-lighting:#FFF0DC;
	--color-accent-edges: 	#2F2C28;

	--color-accent-notice: 	#855EF3;
	
	--color-accent-warning: #EFB155;
	--color-accent-error: 	#AA1C1C;
	--color-accent-pass: 		#67EE9D;

	// ------

	@each $norm-size in 48,36,32,24,18,16,14,12,11 {

		--size-#{ $norm-size }: #{ math.round(($norm-size / $mockup-viewport-vh) * 100) / 100 }vh;

		--font-size-#{ $norm-size }: var(--size-#{ $norm-size });

	}

	// ----
	--default-font: "Montserrat";
	--read-font: "Bitter";
	--decor-font: "Dobrozrachniy";
	// ----
	--accent: var(--color-accent-notice);
}