@use "sass:math";

$mockup-viewport-vh: (1080 / 100);
$mockup-viewport-vw: (1980 / 100);

:root {

	--border-radius: 1.5vh;
	--mobile-brakepoint: 768px;

	// DEFAULT COLOR VARIABLES
	--mono-900: 250,250,255;
	--mono-800: 240,240,255;
	--mono-700: 221,221,255;
	--mono-600: 124,124,139;
	--mono-500: 68,68,76;
	--mono-400: 52,52,60;
	--mono-300: 25,25,30;
	--mono-200: 20,20,24;
	--mono-100: 13,13,15;
	--mono-000: 0,0,0;
	// RGB COLOR VARIABLES
	@for $i from 0 through 9 {
		--color-mono-#{$i + '00'}: var(--mono-#{$i + '00'});
	}
	// ------

	--color-accent-lighting:	hsl(30, 100%, 90%);

	--color-accent-edges-300: hsl(30,  18%, 60%);
	--color-accent-edges-200: hsl(30,  12%, 40%);
	--color-accent-edges-100: hsl(30,   6%, 20%);
	--color-accent-edges-000: hsl(30,   3%, 15%);

	--color-accent-notice: 	hsl(256, 80%, 65%);
	--color-accent-pass: 		hsl(144, 80%, 65%);
	--color-accent-warning: hsl( 36, 80%, 65%);
	--color-accent-error: 	hsl(  0, 80%, 65%);

	// ------

	@each $norm-size in 56,42,36,32,28,24,20,16,14,12,11,10 {

		--size-#{ $norm-size }: #{ math.round(($norm-size / $mockup-viewport-vh) * 100) / 100 }vh;
		--font-size-#{ $norm-size }: var(--size-#{ $norm-size });
		
	}

	// ----
	--default-font: "Montserrat";
	--read-font: "Bitter";
	--decor-font: "Dobrozrachniy";
	// ----
	--accent: var(--color-accent-edges-200);

	// CRUSORIS
	--crusoris-circle-color: var(--color-accent-edges-200);
	--crusoris-dot-color: var(--color-accent-lighting);
	--crusoris-transition-duration: 250ms;

}