@import "_variables";
@import "_utils";
@import "_transitions";
@import "_fonts";

::placeholder {
	color: rgb(var(--color-mono-500));
}

::selection {
	background-color: var(--accent);
	color: rgb(var(--mono-200));
}

// :root {
// 	--test: 1vw;
// }

* { 

	&::-webkit-scrollbar {
		
		width: 1vw;

		&-track {
			background-color: rgb(var(--color-mono-200));
		}
		&-thumb {

			cursor: pointer;

			border-radius: 2rem;
			background-color: rgb(var(--color-mono-400));
			border: 3px solid rgb(var(--color-mono-200));

			&:hover {
				background-color: rgb(var(--color-mono-800));
			}

		}
		// &-button {
		// 	height: 2vh;
		// 	background-color: rgb(var(--color-mono-300));
		// }
		// &-corner {
		// 	background-color: red;
		// }

	}
}

body {
	background-color: rgb(var(--color-mono-200));
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	font-size: var(--font-size-18);
	position: relative;
	line-height: 1.65;
	color: rgb(var(--color-mono-900));
	font-family: var(--default-font), sans-serif;
}

main {

	background-color: rgb(var(--color-mono-200));

}

aside {
	background-color: rgb(var(--color-mono-200));
}
